


@font-face {
    font-family: "din-next-lt-w23-light";
    src:url("../webfonts/din-next-lt-w23/din-next-lt-w23-light.woff") ,  url("../webfonts/din-next-lt-w23/din-next-lt-w23-light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "din-next-lt-w23-regular";
    src:url("../webfonts/din-next-lt-w23/din-next-lt-w23-regular.woff") ,  url("../webfonts/din-next-lt-w23/din-next-lt-w23-regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}



@font-face {
    font-family: "din-next-lt-w23-medium";
    src:url("../webfonts/din-next-lt-w23/din-next-lt-w23-medium.woff") , url("../webfonts/din-next-lt-w23/din-next-lt-w23-medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}



@font-face {
    font-family: "din-next-lt-w23-bold";
    src:url("../webfonts/din-next-lt-w23/din-next-lt-w23-bold.woff")  , url("../webfonts/din-next-lt-w23/din-next-lt-w23-bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}


